<div class="page-content">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h3>Home</h3>
        <i class="bi bi-stars"></i>
    </div>
    <div class="col-md-12 mb-2">
        <form>
            <label for="exampleFormControlTextarea1">O que tá pegando?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </form>
    </div>
    <div class="d-flex flex-row-reverse">
        <button class="btn-sm btn-primary">Tweet</button>
    </div>
</div>

<hr class="mt-12" />
