<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="signupModalHeader">Cadastro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="form">
                <div class="mb-3">
                    <label for="email" class="col-form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email" id="email">
                </div>
                <div class="mb-3">
                    <label for="userName" class="col-form-label">Username</label>
                    <input type="text" class="form-control" formControlName="userName" id="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="col-form-label">Senha</label>
                    <input type="password" class="form-control" formControlName="password" id="password">
                </div>
                <div class="mb-3">
                    <label for="passwordConfirmation" class="col-form-label">Password</label>
                    <input type="password" class="form-control" formControlName="passwordConfirmation" id="passwordConfirmation">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cadastrar</button>
        </div>
    </div>
</div>